<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	{{- if isset .Site.Params "favicon" -}}
	<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic|Raleway:200,300" rel="stylesheet">

	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" />
	{{- if isset .Site.Params "customcss" }}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customCSS }}" />
	{{ end }}
	{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/dark.css" {{ if eq .Site.Params.mode "auto" }}media="(prefers-color-scheme: dark)"{{ end }} />
	{{- if isset .Site.Params "customdarkcss" }}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customDarkCSS }}" {{ if eq .Site.Params.mode "auto" }}media="(prefers-color-scheme: dark)"{{ end }} />
	{{- end }}
	{{- end }}

	{{ if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	{{- else if (isset .Site.Params "social") -}}
	<script src="{{ .Site.BaseURL }}js/feather.min.js"></script>
	{{ end }}
	<script src="{{ .Site.BaseURL }}js/main.js"></script>
	{{- if isset .Site.Params "customjs" -}}
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else }}
	<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
	{{- end }}
	{{- end }}
	{{- end }}
  	<!-- Facebook Pixel Code -->
  	<script>
  	  !function(f,b,e,v,n,t,s)
  	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  	  n.queue=[];t=b.createElement(e);t.async=!0;
  	  t.src=v;s=b.getElementsByTagName(e)[0];
  	  s.parentNode.insertBefore(t,s)}(window, document,'script',
  	  'https://connect.facebook.net/en_US/fbevents.js');
  	  fbq('init', '3065013163591042');
  	  fbq('track', 'PageView');
  	</script>
  	<noscript><img height="1" width="1" style="display:none"
  	  src="https://www.facebook.com/tr?id=3065013163591042&ev=PageView&noscript=1"
  	/></noscript>
  	<!-- End Facebook Pixel Code -->
  	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/73f8b64a54b58b03af5f37fb8/c81d02690ca97f32384b60370.js");</script>

</head>
